{
  "network": {
      "servers": {{ logstash_forwarder_servers | to_json }},
      {% if logstash_forwarder_ssl_cert is defined %}
      "ssl certificate": "{{ logstash_forwarder_ssl_cert }}",
      {% endif %}
      {% if logstash_forwarder_ssl_key is defined %}
      "ssl key": "{{ logstash_forwarder_ssl_key }}",
      {% endif %}
      "ssl ca": "{{ logstash_forwarder_ssl_ca }}"
  },
  "files": [
  {% for (app, value) in logstash_forwarder_files.iteritems() %}
    {{ value | to_json }}{% if not loop.last %},
    {% endif %}
  {% endfor %}

  ]
}