{
  "network": {
    "servers": {{ logstash_forwarder_servers | to_json }},
    "ssl certificate": "{{ logstash_forwarder_ssl_cert }}",
    "ssl key": "{{ logstash_forwarder_ssl_key }}",
    "ssl ca": "{{ logstash_forwarder_ssl_ca }}"
  },
  "files": [
  {% for (app, value) in logstash_forwarder_files.iteritems() %}
    {{ value | to_json }}{% if not loop.last %},
    {% endif %}
  {% endfor %}

  ]
}